<div class="flex--cc flex-gap--1">
  <%= render partial: "decidim/ideas/admin/ideas/bulk_actions/dropdown" %>

  <div id="js-other-actions-wrapper">
    <%= link_to t("actions.import", scope: "decidim.ideas", name: t("models.idea.name", scope: "decidim.ideas.admin")), new_ideas_import_path, class: "button tiny button--simple" if allowed_to? :import, :ideas %>

    <% if allowed_to? :export, :ideas %>
      <%= export_dropdown %>
    <% end %>

    <% if allowed_to? :create, :idea %>
      <%= link_to t("actions.new", scope: "decidim.ideas"), new_idea_path, class: "button tiny button--simple" %>
    <% end %>
  </div>

  <%= render partial: "decidim/ideas/admin/ideas/bulk_actions/recategorize" %>
  <%= render partial: "decidim/ideas/admin/ideas/bulk_actions/area_scope_change" %>
  <%= render partial: "decidim/ideas/admin/ideas/bulk_actions/merge" %>
  <%= render partial: "decidim/ideas/admin/ideas/bulk_actions/split" %>
  <%= render partial: "decidim/ideas/admin/ideas/bulk_actions/publish_answers" %>
</div>
