<tr data-id="<%= idea.id %>" <%= "data-published-state=false" if idea.answered? && !idea.published_state? %>>
  <td>
    <%= check_box_tag "idea_ids_s[]", idea.id, false, class: "js-check-all-idea js-idea-list-check  js-idea-id-#{idea.id}" %><br>
  </td>
  <td>
    <%= idea.id %><br>
  </td>
  <td>
    <%= link_to(
     decidim_html_escape(present(idea).title).html_safe,
     idea_path(idea)
    ) %><br>
  </td>
  <td>
    <% if idea.area_scope %>
      <%= translated_attribute idea.area_scope.name %>
    <% end %>
  </td>
  <td>
    <% if idea.category %>
      <%= translated_attribute idea.category.name %>
    <% end %>
  </td>

  <td>
    <strong class="<%= idea_state_css_class idea.state %>">
      <%= t("decidim/amendment", scope: "activerecord.models", count: 1) if idea.emendation? %>
      <%= idea_complete_state idea %>
    </strong>
  </td>

  <% unless current_settings.publish_answers_immediately? %>
    <td>
      <% if idea.answered? && !idea.emendation? %>
        <%= humanize_boolean idea.published_state? %>
      <% else %>
        -
      <% end %>
    </td>
  <% end %>

  <% if current_settings.votes_enabled? %>
    <td>
      <%= idea.idea_votes_count %>
    </td>
  <% end %>

  <% if current_component.settings.comments_enabled? and !current_settings.comments_blocked? %>
    <td>
      <%= idea.comments.count %>
    </td>
  <% end %>

  <td>
    <%= l idea.created_at, format: :decidim_short %>
  </td>

  <td class="table-list__actions">
    <% if allowed_to? :edit, :idea, idea: idea %>
      <%= icon_link_to "pencil", edit_idea_path(idea), t("actions.edit_idea", scope: "decidim.ideas"), class: "action-icon--edit-idea" %>
    <% end %>

    <%= icon_with_link_to_idea(idea) %>

   <%= icon_link_to "eye", resource_locator(idea).path, t("actions.preview", scope: "decidim.ideas.admin"), class: "action-icon--preview", target: :blank %>
  </td>
</tr>
