<% add_decidim_page_title(t(".title")) %>
<div class="card">
  <div class="item_show__header">
    <h1 class="item_show__header-title">
      <div>
        <%= t(".title") %>
        <span id="js-selected-ideas-count" class="component-counter component-counter--inline" title="<%= t("decidim.ideas.admin.ideas.index.selected") %>"></span>
      </div>
      <div class="flex items-center gap-x-4">
        <%= render partial: "bulk-actions" %>
      </div>
    </h2>
  </div>
  <%= admin_filter_selector %>
  <div class="table-scroll mt-16">
    <table class="table-list">
      <thead>
        <tr>
          <th>
            <%= check_box_tag "ideas_bulk", "all", false, class: "js-check-all" %>
          </th>
          <th>
            <%= sort_link(query, :id, t("models.idea.fields.id", scope: "decidim.ideas"), default_order: :desc ) %>
          </th>
          <th>
            <%= sort_link(query, :title, t("models.idea.fields.title", scope: "decidim.ideas") ) %>
          </th>
          <th>
            <%= sort_link(query, :area_scope_name, t("models.idea.fields.area_scope", scope: "decidim.ideas") ) %>
          </th>
          <th>
            <%= sort_link(query, :category_name, t("models.idea.fields.category", scope: "decidim.ideas") ) %>
          </th>
          <th>
            <%= sort_link(query, :state, [:state, :is_emendation], t("models.idea.fields.state", scope: "decidim.ideas") ) %>
          </th>

          <% unless current_settings.publish_answers_immediately? %>
            <th>
              <%= sort_link(query, :state_published, t("models.idea.fields.published_answer", scope: "decidim.ideas") ) %>
            </th>
          <% end %>

          <% if current_component.settings.comments_enabled? and !current_settings.comments_blocked? %>
            <th>
              <%= sort_link(query, :commentable_comments_count, t("models.idea.fields.comments", scope: "decidim.ideas") ) %>
            </th>
          <% end %>

          <th>
            <%= sort_link(query, :published_at, t("models.idea.fields.published_at", scope: "decidim.ideas") ) %>
          </th>

          <th class="actions"><%= t("actions.title", scope: "decidim.ideas") %></th>
        </tr>
      </thead>
      <tbody>
        <% ideas.each do |idea| %>
          <%= render partial: "idea-tr", locals: { idea: idea } %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= decidim_paginate ideas %>

<%= append_javascript_pack_tag "decidim_ideas_admin_ideas" %>
