<div id="js-recategorize-ideas-actions" class="hide js-bulk-action-form">
  <%= form_tag(update_category_ideas_path, method: :post, remote: true, id: "js-form-recategorize-ideas", class: "form form-defaults flex items-center gap-x-2") do %>
    <div class="checkboxes hide">
      <% ideas.each do |idea| %>
        <%= check_box_tag "idea_ids[]", idea.id, false, class: "js-check-all-idea js-idea-id-#{idea.id}" %>
      <% end %>
    </div>

    <%= bulk_categories_select current_component.categories %>

    <%= submit_tag(t("decidim.ideas.admin.ideas.index.update"), id: "js-submit-edit-category", class: "button button__sm button__secondary small button--simple float-left") %>

    <button id="js-cancel-edit-category" class="button button__sm button__secondary clear compact js-cancel-bulk-action" type="button"><%= t("decidim.ideas.admin.ideas.index.cancel") %></button>
  <% end %>
</div>
