<div class="row">
  <div class="columns large-12">
    <%= link_to new_idea_path do %>
      <%= icon "arrow-left-s-line", class: "icon--small", role: "img" %>
      <%= t(".back") %>
    <% end %>
  </div>
</div>

<div class="idea-form-container">
  <div class="row column view-header">
    <% unless @intro.blank? %>
      <p><%= @intro %></p>
    <% end %>

    <%== @text %>
  </div>
</div>
