<% taxonomies.each do |_id, node| %>
  <%
  taxonomy = node[:taxonomy]
  scope_name_prefix ||= ""
  taxonomy_name = translated_attribute(taxonomy.name)
  %>

  <div class="area-scope-coordinate-field" data-taxonomy-id="<%= taxonomy.id %>">
    <label for="<%= "#{input_name_prefix}_#{taxonomy.id}" %>"><%= scope_name_prefix + taxonomy_name %></label>
    <input id="<%= "#{input_name_prefix}_#{taxonomy.id}" %>" type="text" name="<%= "#{input_name_prefix}[#{taxonomy.id}]" %>" value="<%= value[taxonomy.id.to_s] %>">
  </div>

  <% if node[:children].any? %>
    <%
    sub_prefix = "#{taxonomy_name} / "
    sub_prefix = "#{scope_name_prefix}#{sub_prefix}" unless scope_name_prefix.blank?
    %>
    <%= render partial: "decidim/ideas/admin/shared/area_scope_coordinates_fields", locals: {
      taxonomies: node[:children],
      input_name_prefix: input_name_prefix,
      value: value,
      scope_name_prefix: sub_prefix
    } %>
  <% end %>
<% end %>