<%= decidim_form_for(@answer_form, url: idea_idea_answer_path(idea, @answer_form), html: { class: "form edit_idea_answer" }) do |f| %>
  <div class="card" id="idea-answer">
    <div class="card-divider">
      <h2 class="card-title"><%= t ".title", title: present(idea).title %></h2>
    </div>

    <div class="card-section">
      <div class="row column">
        <%= f.collection_radio_buttons :internal_state, [["accepted", t(".accepted")], ["rejected", t(".rejected")], ["evaluating", t(".evaluating")]], :first, :last, prompt: true %>
      </div>

      <div class="row column">
        <%= f.translated :editor, :answer, autofocus: true, rows: 15 %>
      </div>
    </div>
  </div>

  <div class="button--double form-general-submit">
    <%= f.submit t(".answer_idea") %>
  </div>
<% end %>
