<div class="row">
  <div class="columns large-12">
    <%= decidim_form_for(form_object, builder: idea_form_builder, url: defined?(form_url) ? form_url : nil) do |form| %>
      <%= render partial: "form", locals: { form: form, show_terms: show_terms } %>

      <% if user_signed_in? %>
        <div class="actions text-center">
          <% if @idea.persisted? && @idea.draft? %>
            <%= link_to t(".discard"), destroy_draft_idea_path(@idea), class: "mr-2 discard-draft-link", method: :delete, data: { confirm: t(".discard_confirmation") } %>
          <% end %>
          <% if !@idea.persisted? || @idea.draft? %>
            <%= form.submit t(".save"), name: "save", class: "button hollow primary large mr-2", data: { disable: true } %>
          <% end %>
          <%= form.submit button_text, name: "commit", class: "button primary large", data: { disable: true } %>
        </div>
      <% else %>
        <div class="row">
          <div class="columns large-8 large-push-2">
            <div class="text-center">
              <p class="lead"><%= t(".sign_in_before_submitting") %></p>
              <p><%= t(".you_can_invite_others") %></p>
              <p>
                <%= action_authorized_link_to :create, new_idea_path, class: "title-action__action button large primary", data: { "redirect_url" => new_idea_path } do %>
                  <%= t(".sign_in") %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
