<%= filter_form_for filter do |form| %>
  <p class="show-for-sr"><%= t(".title") %></p>

  <div class="row medium-unstack">
    <div class="columns">
      <div class="filters__control area_scope_id_filter">
        <%= form.search_field :search_text_cont, label: t(".keyword"), placeholder: t(".keyword"), title: t(".keyword"), "aria-label": t(".search"), data: { disable_dynamic_change: true } %>
      </div>
    </div>
    <% if display_scope_filter? %>
      <div class="columns">
        <div class="filters__control area_scope_id_filter">
          <%= area_scopes_picker_field(form, :with_any_area_scope, root: false, options: { label: t(".area_scope"), include_blank: t(".all_area_scopes") }, html_options: { "aria-label": t(".area_scope"), data: { disable_dynamic_change: true } }) %>
        </div>
      </div>
    <% end %>
    <% if display_category_filter? %>
      <div class="columns">
        <div class="filters__control area_scope_id_filter">
          <%= form.select(:with_category, filter_ideas_categories_values, { label: t(".category"), include_blank: t(".all_categories") }, "aria-label": t(".category"), data: { disable_dynamic_change: true }) %>
        </div>
      </div>
    <% end %>
    <% if display_answer_filter? %>
      <div class="columns">
        <div class="filters__control area_scope_id_filter">
          <%= form.select(:with_any_state, filter_ideas_state_values, { label: t(".state"), include_blank: t(".all_states") }, "aria-label": t(".state"), data: { disable_dynamic_change: true }) %>
        </div>
      </div>
    <% end %>
  </div>

  <% if current_user %>
    <%= form.collection_radio_buttons :activity, activity_filter_values, :first, :last, legend_title: t(".activity"), data: { disable_dynamic_change: true } %>
  <% end %>


  <%= hidden_field_tag :order, order, id: nil, class: "order_filter" %>

  <div class="row columns">
    <div class="filters__actions">
      <button type="submit" class="button button--icon" aria-label="<%= t(".search") %>" aria-controls="ideas-count ideas" data-close>
        <%= t(".search") %>
        <%= icon("search-line", role: "img", "aria-hidden": true) %>
      </button>
      <button type="reset" class="button clear text-lg"><%= t ".reset" %></button>
    </div>
  </div>
<% end %>
