<% if idea.answered? && idea.published_state? %>
  <div class="row">
    <div class="columns small-centered large-8">
      <div class="callout announcement <%= idea_reason_callout_class %> cell-announcement text-center">
        <p class="h2"><%= idea_reason_callout_title %></p>
        <%= decidim_sanitize(translated_attribute(@idea.answer)) %>
      </div>
    </div>
  </div>
<% end %>

<div class="resource-intro">
  <div class="row" data-equalizer>
    <div class="columns mediumlarge-7">
      <div class="resource-image" data-equalizer-watch>
        <% if idea.image %>
          <%= image_tag idea.image.main_url, class:"idea-image", alt: strip_tags(translated_attribute(idea.image.title)) %>
        <% elsif category_image_path(idea.category) %>
          <%= image_tag category_image_path(idea.category), class:"idea-image", alt: strip_tags(present(idea).title(html_escape: true)) %>
        <% else %>
          <%= image_tag asset_pack_path("media/images/idea-default.jpg"), class:"idea-image", alt: strip_tags(present(idea).title(html_escape: true)) %>
        <% end %>
      </div>
    </div>
    <div class="columns mediumlarge-4">
      <div class="actionbox" data-equalizer-watch>
        <%= render partial: "idea_actions", locals: { idea: idea, show_actions: show_actions } %>
      </div>
    </div>
  </div>
</div>

<% if show_actions && allowed_to?(:withdraw, :idea, idea: idea) %>
  <div class="row">
    <div class="columns">
      <%= render partial: "idea_controls", locals: { idea: idea } %>
    </div>
  </div>
<% end %>

<div class="resource-details">
  <div class="row">
    <div class="columns mediumlarge-7">
      <div class="resource-details-row">
        <div class="resource-detail">#<%= idea.id %></div>
        <div class="resource-detail">
          <% if has_visible_area_scope?(idea) %>
            <%= translated_attribute(idea.area_scope.name) %>
          <% end %>
        </div>
      </div>
      <% if component_settings.geocoding_enabled? && idea.address.present? %>
        <div class="resource-details-row">
          <div class="resource-detail"><%= idea.address %></div>
        </div>
      <% end %>
    </div>
    <div class="columns mediumlarge-4 text-right">
      <% if idea.published? %>
        <div class="resource-details-row">
          <div class="resource-detail"><%= l(idea.published_at.to_date, format: :decidim_short) %></div>
        </div>
      <% end %>
      <% if idea.category.present? %>
        <div class="resource-details-row">
          <div class="resource-detail">
            <% if idea.category.parent %>
              <%= translated_attribute(idea.category.parent.name) %> -
            <% end %>
            <%= translated_attribute(idea.category.name) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="resource-title">
  <div class="row">
    <div class="columns mediumlarge-7">
      <h3 class="heading3"><%= present(@idea).title(links: true, html_escape: true) %></h3>
    </div>
  </div>
</div>

<div class="resource-body">
  <div class="row">
    <div class="columns">
      <div class="section static__content">
        <%== cell("decidim/ideas/idea_m", idea, full_badge: true).badge %>
        <%= render_idea_body(idea) %>
      </div>

      <%= attachments_for idea %>

      <%= linked_resources_for idea, :results, "included_ideas" %>
      <%= linked_resources_for idea, :projects, "included_ideas" %>
      <%= linked_resources_for idea, :ideas, "copied_from_component" %>
    </div>
  </div>
</div>
