<div class="row column resource">
  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main static__content margin-bottom-0">
        <h1><%= present(idea).title(links: true, html_escape: true) %></h1>

        <% if idea.respond_to?(:tags) && idea.tags.any? %>
          <div class="resource__tags">
            <%= cell("decidim/tags/tags", idea) %>
          </div>
        <% end %>

        <% if idea.image && idea.image.main_url %>
          <%= image_tag idea.image.main_url, class:"resource__image", alt: strip_tags(translated_attribute(idea.image.title)) %>
        <% elsif category_image_path(idea.category) %>
          <%= image_tag category_image_path(idea.category), class:"resource__image", alt: strip_tags(present(idea).title(html_escape: true)) %>
        <% else %>
          <%= image_tag asset_pack_path("media/images/idea-default.jpg"), class:"resource__image", alt: strip_tags(present(idea).title(html_escape: true)) %>
        <% end %>
      </div>
    </div>

    <div class="columns small-12 medium-4">
      <div class="resource__aside">
        <div class="resource__actions">
          <%= render partial: "idea_aside", locals: { idea: idea, show_actions: show_actions } %>
        </div>

        <% if show_actions && allowed_to?(:withdraw, :idea, idea: idea) %>
          <div class="margin-bottom-3">
            <%= render partial: "idea_controls", locals: { idea: idea } %>
          </div>
        <% end %>

        <%= render partial: "idea_attributes", locals: { idea: idea } %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main resource__content static__content">
        <h2><%= t(".subtitle") %></h2>
        <%= render_idea_body(idea) %>

        <% if idea.answered? && idea.published_state? %>
          <div class="row columns">
            <div class="banner bg-secondary">
              <div class="banner__content">
                  <p class="h2"><%= idea_reason_callout_title %></p>
                <%= decidim_sanitize(translated_attribute(idea.answer)) %>
              </div>
            </div>
          </div>
        <% end %>

        <%= render partial: "idea_map", locals: { idea: idea } %>

        <div class="resource__details margin-top-3">
          <%= attachments_for idea %>

          <% if respond_to?(:linked_resources_group_for) %>
            <%= linked_resources_group_for(idea, {
              results: "included_ideas",
              projects: "included_ideas",
              plans: "included_ideas",
              ideas: "copied_from_component"
            }) %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
