<div class="row column resource">
  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main static__content">
        <h1><%= present(idea).title(links: true, html_escape: true) %></h1>

        <div class="resource__info">
          <% if has_visible_area_scope?(idea) %>
            <div class="resource__info__item"><%= translated_attribute(idea.area_scope.name) %></div>
          <% end %>
          <div class="resource__info__item">#<%= idea.id %></div>
          <% if idea.published? %>
            <div class="resource__info__item"><%= l(idea.published_at.to_date, format: :decidim_short) %></div>
          <% end %>
          <% if idea.category.present? %>
            <div class="resource__info__item">
              <% if idea.category.parent %>
                <%= translated_attribute(idea.category.parent.name) %> -
              <% end %>
              <%= translated_attribute(idea.category.name) %>
            </div>
          <% end %>

          <% if component_settings.geocoding_enabled? && idea.address.present? %>
            <div class="resource__info__item"><%= idea.address %></div>
          <% end %>
        </div>

        <% if idea.respond_to?(:tags) && idea.tags.any? %>
          <div class="resource__tags">
            <%= cell("decidim/tags/tags", idea) %>
          </div>
        <% end %>

        <% if idea.image && idea.image.main_url %>
          <%= image_tag idea.image.main_url, class:"resource-image", alt: strip_tags(translated_attribute(idea.image.title)) %>
        <% elsif category_image_path(idea.category) %>
          <%= image_tag category_image_path(idea.category), class:"resource-image", alt: strip_tags(present(idea).title(html_escape: true)) %>
        <% else %>
          <%= image_tag asset_pack_path("media/images/idea-default.jpg"), class:"resource-image", alt: strip_tags(present(idea).title(html_escape: true)) %>
        <% end %>
      </div>
    </div>

    <div class="columns small-12 medium-4">
      <div class="resource__aside resource__actions">
        <%= render partial: "idea_actions", locals: { idea: idea, show_actions: show_actions } %>

        <% if show_actions && allowed_to?(:withdraw, :idea, idea: idea) %>
          <div class="row">
            <div class="columns">
              <%= render partial: "idea_controls", locals: { idea: idea } %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="columns small-12 medium-8">
      <div class="resource__main resource__content static__content">
        <%= render_idea_body(idea) %>

        <% if idea.answered? && idea.published_state? %>
          <div class="row columns">
            <div class="banner bg-secondary">
              <div class="banner__content">
                  <p class="h2"><%= idea_reason_callout_title %></p>
                <%= decidim_sanitize(translated_attribute(idea.answer)) %>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="resource__details">
        <%= attachments_for idea %>

        <%# = linked_resources_for idea, :results, "included_ideas" %>
        <%# = linked_resources_for idea, :projects, "included_ideas" %>
        <%# = linked_resources_for idea, :ideas, "copied_from_component" %>
      </div>
    </div>
  </div>
</div>
