<% if idea.rejected? || idea.withdrawn? %>
  <div></div>
<% else %>
  <div id="idea-<%= idea.id %>-vote-button" class="button--vote-button">
    <% if !current_user %>
      <% if current_settings.votes_blocked? %>
        <%= action_authorized_button_to :vote, t("decidim.ideas.ideas.vote_button.votes_blocked"), idea_idea_vote_path(idea_id: idea, from_ideas_list: from_ideas_list), resource: idea, class: "button #{vote_button_classes(from_ideas_list)} disabled", disabled: true %>
      <% else %>
        <%= action_authorized_button_to :vote, t("decidim.ideas.ideas.vote_button.vote"), idea_idea_vote_path(idea_id: idea, from_ideas_list: from_ideas_list), resource: idea, class: "button #{vote_button_classes(from_ideas_list)}", data: { disable: true, "redirect-url": idea_path(idea) } %>
      <% end %>
    <% else %>
      <% if @voted_ideas ? @voted_ideas.include?(idea.id) : idea.voted_by?(current_user) %>
        <%= action_authorized_button_to(
          :vote,
          idea_idea_vote_path(idea_id: idea, from_ideas_list: from_ideas_list),
          resource: idea,
          method: :delete,
          remote: true,
          data: {
            disable: true,
            original: t("decidim.ideas.ideas.vote_button.already_voted"),
            replace: t("decidim.ideas.ideas.vote_button.already_voted_hover"),
            "redirect-url": idea_path(idea)
          },
          class: "button #{vote_button_classes(from_ideas_list)} success light",
          id: "vote_button-#{idea.id}"
        ) do %>
          <%= icon("check", class: "icon--small") %>
          <%= t("decidim.ideas.ideas.vote_button.already_voted") %>
        <% end %>
      <% else %>
        <% if idea.maximum_votes_reached? && !idea.can_accumulate_supports_beyond_threshold && current_component.participatory_space.can_participate?(current_user) %>
          <%= content_tag :span, t("decidim.ideas.ideas.vote_button.maximum_votes_reached"), class: "button #{vote_button_classes(from_ideas_list)} disabled", disabled: true %>
        <% else %>
          <% if vote_limit_enabled? && remaining_votes_count_for(current_user) == 0 %>
            <%= content_tag :span, t("decidim.ideas.ideas.vote_button.no_votes_remaining"), class: "button #{vote_button_classes(from_ideas_list)}", disabled: true %>
          <% elsif current_settings.votes_blocked? || !current_component.participatory_space.can_participate?(current_user) %>
            <%= content_tag :span, t("decidim.ideas.ideas.vote_button.votes_blocked"), class: "button #{vote_button_classes(from_ideas_list)} disabled", disabled: true %>
          <% else %>
            <%= action_authorized_button_to :vote, t("decidim.ideas.ideas.vote_button.vote"), idea_idea_vote_path(idea_id: idea, from_ideas_list: from_ideas_list), resource: idea, remote: true, data: { disable: true, "redirect-url": idea_path(idea) }, class: "button #{vote_button_classes(from_ideas_list)}" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
