<div class="columns large-3">
  <div class="m-bottom">
    <% unless @step == :step_2 %>
      <%= link_to idea_wizard_aside_link_to_back(@step) do %>
        <%= icon "arrow-left-s-line", class: "icon--small", role: "img" %>
        <%= wizard_aside_back_text %>
      <% end %>
    <% end %>
  </div>
  <div class="section">
    <p>
      <%= wizard_aside_info_text %>
    </p>
  </div>
  <div class="show-for-large">
    <%= idea_wizard_stepper(@step) %>
  </div>
</div>
