<div class="row columns">
  <div class="text-center">
    <h2 class="heading1 page-title"><%= t ".title" %></h2>
  </div>
</div>

<div class="row" data-equalizer>
  <div class="columns medium-6 mediumlarge-8">
    <div class="card bg-primary fg-light" data-equalizer-watch>
      <div class="card__content">
        <h3 class="heading1"><%= t ".subtitle" %></h3>
        <div class="lead">
          <% if translated_attribute(component_settings.idea_listing_intro).present? %>
            <%= decidim_sanitize translated_attribute(component_settings.idea_listing_intro) %>
          <% else %>
            <p><%= t ".description" %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <% if current_settings.creation_enabled &&
        current_component.participatory_space.can_participate?(current_user) &&
        !users_idea_limit_reached?(current_user, current_component) %>
    <div class="columns medium-6 mediumlarge-4">
      <div class="card border-primary" data-equalizer-watch>
        <div class="card__content text-center">
          <% if @draft_idea_link %>
            <p class="h3"><%= t ".draft_idea_title" %></p>
            <p><%= t ".draft_idea_description" %></p>
            <%= link_to t(".draft_idea_continue"), @draft_idea_link, class: "title-action__action button hollow large primary" %>
          <% else %>
            <p class="h3"><%= t(".leave_your_idea") %></p>
            <%= link_to new_idea_path, class: "title-action__action button hollow large primary", data: { "redirect_url" => new_idea_path } do %>
              <%= t(".new_idea") %>
              <%= icon "plus", aria_label: t(".new_idea"), role: "img" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if component_settings.geocoding_enabled? %>
  <%= ideas_map ideas_data_for_map(@geocoded_ideas) do %>
    <template id="marker-popup">
      <div class="map-info__content">
        <h3>${title}</h3>
        <div id="bodyContent">
          <p>{{html body}}</p>
          <div class="map__date-adress">
            <div class="address card__extra">
              <div class="address__icon">{{html icon}}</div>
              <div class="address__details">
                <span>${address}</span><br>
              </div>
            </div>
          </div>
          <div class="map-info__button">
            <a href="${link}" class="button button--sc">
              <%= t(".view_idea") %>
            </a>
          </div>
        </div>
      </div>
    </template>
    <%= javascript_include_tag "decidim/ideas/map" %>
  <% end %>
<% end %>

<div class="row columns">
  <%= render partial: "filters_small_view" %>
  <div class="card card--secondary show-for-mediumlarge">
    <div class="idea-filters">
      <%= render partial: "filters" %>
    </div>
  </div>
</div>

<div class="row columns">
  <div class="title-action">
    <h2 id="ideas-count" class="title-action__title section-heading">
      <%= render partial: "count" %>
    </h2>
  </div>
</div>
<div class="row">
  <div id="ideas" class="columns">
    <%= render partial: "ideas" %>
  </div>
</div>
<div class="row">
<div class="text-right">
  <%= link_to t(".see_all_withdrawn"), ideas_path("filter[state]" => "withdrawn") %>
</div>
</div>
<%= javascript_include_tag "decidim/filters" %>
<%= javascript_include_tag "decidim/results_listing" %>
<%= javascript_include_tag "decidim/ideas/ideas_list" %>
