<div class="row">
  <div class="columns large-12">
    <%= link_to ideas_path do %>
      <%= icon "chevron-left", class: "icon--small", role: "img", "aria-hidden": true %>
      <%= t(".back") %>
    <% end %>
  </div>
</div>

<div class="idea-form-container">
  <div class="row">
    <div class="columns large-8">
      <div class="ideas-form-text">
        <h1 class="section-heading"><%= t(".title") %></h1>

        <% if translated_attribute(component_settings.new_idea_help_text).present? %>
          <div class="static__content">
            <%= decidim_sanitize translated_attribute(component_settings.new_idea_help_text) %>
          </div>
        <% end %>
      </div>

      <% unless user_signed_in? %>
        <div class="card border-primary text-center">
          <div class="card__content">
            <p class="lead"><%= t("decidim.ideas.ideas.edit_view.sign_in_before_submitting") %></p>
            <p>
              <%= action_authorized_link_to :create, new_idea_path, class: "title-action__action button large primary", data: { "redirect_url" => new_idea_path } do %>
                <%= t("decidim.ideas.ideas.edit_view.sign_in") %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="columns large-4">
      <% if translated_attribute(component_settings.materials_text).present? %>
        <div class="card border-primary">
          <div class="card__content">
            <h2 class="h3"><%= t(".material_title") %></h2>
            <%= decidim_sanitize translated_attribute(component_settings.materials_text) %>
          </div>
        </div>
      <% end %>

      <% if translated_attribute(component_settings.materials_text).present? %>
        <div class="card border-primary">
          <div class="card__content">
            <h2 class="h3"><%= t(".need_help") %></h2>
            <p>
              <%= link_to t(".get_help"), decidim.pages_path, target: "_blank", class: "button hollow primary" %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <%= render partial: "edit_view", locals: {
    form_object: @form,
    show_terms: true,
    button_text: t(".send")
  } %>
</div>
