<% add_decidim_meta_tags({
  description: present(@idea).body,
  title: present(@idea).title,
  url: idea_url(@idea.id)
}) %>

<%
edit_link(
  resource_locator(@idea).edit,
  :edit,
  :idea,
  idea: @idea
)
%>

<%
extra_admin_link(
  resource_locator(@idea).show(anchor: "idea-answer"),
  :create,
  :idea_answer,
  { idea: @idea },
  { name: t(".answer"), icon: "comment-square" }
)
%>

<% if trigger_feedback? %>
  <%= trigger_feedback_modal(@idea, title: t(".feedback_title"), metadata: { context: "idea", action: "publish" }) %>
<% end %>

<div class="row column view-header">
  <%= link_to ideas_path, class: "small hollow" do %>
    <%= icon "chevron-left", class: "icon--small" %>
    <%= t(".back_to_list") %>
  <% end %>
</div>

<%= render partial: "idea_full", locals: { idea: @idea, show_actions: true } %>

<%= comments_for @idea %>

<%= cell("decidim/flag_modal", @idea) %>
